<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Polldozer Create</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div id="vote" data-poll-id="573a3d2ed1bd031a0f000000"></div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'polls_create', 'data-turbolinks-track' => true %>
</body>
</html>
